
/*Selectores de Id*/

#contenedorSetting{
	font-size: 18px;
	text-align: left;
	background-color: #E7F1F0;
	padding-top: 20px;
	padding-bottom: 20px;
}

#noCambia{
	color: #FF0909;
	font-size: 14px;
}

#nombreQueVeran{
	color: #0097D5;
	font-size: 14px;
}

/*Selector de Clase*/

.contenedorCampo{
	padding: 5px;
}